:root{
    --cor1 : #6A0000;
    --cor2 : #C86A6A;
    --cor3 : #A3AA95;
    --cor4 : #0B2A2C;
    --cor5 : #E5A448;
    --fonte1 : Montserrat;
    --fonte2 : Urbanist;
}

body{
   background-color: #FAF2E5;
   font-family: montserrat;
   color: #000000;
}

.dropdown-menu{
    background-color: var(--cor2);
    border: none;
}

.dropdown-item{
    color: #ffffff;
}

.menu{
    background-color: var(--cor3);
}

p{
    font-size: 2.8vh;
}

.titulo1{
    font-family: var(--fonte2);
    font-weight: 600;
}

.titulo2{
    font-family: var(--fonte2);
    font-weight: 900;
    padding: 8px 3vw;
    border-radius: 50px;
    background-color: var(--cor3);
    color: #8D2828;
    text-decoration: none;
}

.graduação{
    margin: 10vh 0px;
    padding: 12px 3vw;
    font-family: var(--fonte2);
    border-radius: 50px;
    color: #FAF2E5;
}

.titulo3{
    margin: 20vh 0vh 13vh;
    font-family: var(--fonte2);
    color: var(--cor4);
    text-decoration: underline 5px var(--cor2);
}

.titulo4{
    font-family: var(--fonte2);
    font-weight: 600;
}

.card{
    border: none;
    box-shadow: 12px 20px 0px #F0D1D1;
    margin-bottom: 15vh;
}

.card-text{
    font-size: 3vh;
    margin: 2vh 1vh;
}

.btn-card{
    margin: 2vh 1vh;
    background-color: #F0D1D1;
    font-size: medium;
    font-weight: 600;
}

#link-f{
    color: var(--cor2);
    text-decoration: none;
    margin-left: 1vw;
}